html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.content-container {
  max-width: 1147px;
  width: 100%;
}
