@use "./modules/flex";
@use "./modules/vrs";

.navbar {
  @include flex.flexbox(_, center, flex-end);
  background-color: vrs.$prim-color;
  height: 60px;
  .content-container{
    .mobile-toggler{
      display: none
    }
  }
  .links-container {
    @include flex.flexbox(row, space-between);
    margin: 0 10px;

    .category-links {
      @include flex.flexbox;

      .all-categories {
        @include flex.flexbox(row, space-between);
        width: 250px;
        border-radius: 10px 10px 0 0;
        border: none;
        padding: 5px;
        background-color: white;
        cursor: pointer;

        .icon-text {
          @include flex.flexbox;

          i {
            margin: 0 10px;
          }
        }
        .icon i {
          margin: 0 10px;
        }
      }

      .links {
        @include flex.flexbox;
        list-style: none;

        li a {
          margin: 20px;
          text-decoration: none;
          color: black;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
    button.seller-btn {
      font-size: 14px;
      font-weight: 500;
      padding: 10px 20px;
      border: none;
      color: white;
      background-color: black;
      cursor: pointer;

      i {
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 950px) {

.navbar {
  background-color: #fff;
  color: black;
  padding: 1rem;
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mobile-toggler {
      display: block;
      background: none;
      border: none;
      color: black;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .links-container {
      display: flex;
      align-items: center;
      .category-links {
        position: relative;
        margin-right: 1rem;
        &:hover .links {
          display: flex;
        }
        .all-categories {
          background: none;
          border: none;
          color: black;
          cursor: pointer;
        }
        .links {
          list-style: none;
          padding: 0;
          position: absolute;
          left: 0%;
          display: none;
          top: 20%;
          background-color: #fff;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
          flex-direction: column;
          margin-top: 10px;
          li {
            padding: 0.5rem;
            a{
              color: #000;
              text-decoration: none;
            }
          }
        }
       
      }
      .seller-btn {
        background-color: #ff9900;
        border: none;
        color: black;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
      }
      
      
    }
  }
  .mobile-open {
    display: block;
  }
}









}
